<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("partials/navigation_bar.ejs") %>
    
    <h1>Guestbook Web App</h1>

    <img class="index-image" src="https://images.pexels.com/photos/3728084/pexels-photo-3728084.jpeg">

    <div class="welcome-div">
        Welcome to this Guestbook Web App where you can read guestbook entries written by others, as well as leave a lasting mark by creating one yourself!
    </div>

</body>
</html>